{% extends 'base.html' %}

{% block title %}Response{% endblock %}

{% block content %}
    <p>Thank you, {{ firstname }} {{ lastname}}, for applying to be a {{ select }}. Your
    minimum salary requirement is {{ salary }} dollars.</p>
{% endblock %}


<!-- <!doctype html>

<html>

<head>
    <title>Application Response</title>
</head>

<body>
    <p>Thank you, {{ firstname }} {{ lastname}}, for applying to be a {{ select }}. Your
    minimum salary requirement is {{ salary }} dollars.</p>

</body>

</html>
 -->